/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252b42;
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 70%;
    padding: 20px 0;
    margin: 0 auto;
}
@media (max-width: 600px) {
    ._container {
        max-width: 90%;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.menu__link {
    color: inherit;
}

.menu__burger {
    display: none;
    max-width: 50px;
}

.menu__burger img {
    width: 100%;
}

.menu__link:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid goldenrod;
}

@media (max-width: 1000px) {
    .menu__list {
        display: none;
    }

    .menu__burger {
        display: block;
    }
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 50px;
}

.col1 {
    position: relative;
}

.col1__main-block {
    position: relative;
    z-index: 2;
}


.main-block__body {
    display: flex;
    justify-content: flex-end;
    padding: 400px 0 80px 0;
    max-width: 100%;
}

@media (max-width: 754px) {
    .main-block__body {
        justify-content: center;
    }
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-block__container-layout {
    max-width: 600px;
    padding: 60px 80px 60px 30px;
    box-sizing: border-box;
    background: #ffffffff;
    line-height: 450%;
}

@media (max-width: 600px) {
    .main-block__container-layout {
        left: 10%;
        max-width: 100%;
    }
}

.container-layout__header {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5px;
}

.container-layout__text {
  margin: 0 0 30px 0;  
}

.container-layout__text h1{
    font-size: 60px;
    font-weight: bold;
}

.container-layout__text p {
    font-size: 16px;
}

.container-layout__buttons {
    display: inline-block;
}

.container-layout__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    padding: 20px 40px;
    min-height: 73px;
    border: 2px solid black;
    color: black;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .container-layout__button {
        /* min-height: 53px;
        padding: 10px 50px; */
        font-size: 20px;
    }
}

.container-layout__button:hover{
    background: black;
    color: white;
}

.col2__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
}

.text__header {
    font-size: 3.75rem;
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
}

.simple__text {
    font-size: 1.125rem;
    line-height: 1.8;
}

.btn {
    padding: 20px 78px;
    color: #876e5d;
    background: #d8b6a0;
    font-size: 1.25rem;
    border-radius: 55px;
    font-weight: 700;
}
.btn__other {
    background: #96e7e4;
    color: #449794;
}

.btn:hover {
    background-color: #d0b09a;
}

.btn__other:hover {
    background: #93dfdd;
}

.col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f4f0;
    padding: 50px 0;
    gap: 40px;
}

.col3__container-elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    min-height: 812px;
    box-sizing: border-box;
}



@media (max-width: 500px) {
    .col3__container-elements {
        grid-template-columns: repeat(1, 1fr);
    }

    .text__header {
        text-align: center;
        font-size: 2rem;
    }
}

.container-elements__two-columns {
    position: relative;
    grid-row: 1/3;
}

.container-elements__two-columns img {
    height: 100%;
    object-fit: cover;
}

.col3__img2 {
    position: relative;
}

.col3__img3 {
    position: relative;
}

.col3__text-container {
    position: absolute;
    background: #ffffffff;
    left: 0;
    bottom: 0;
    padding: 20px 60px 20px 10px;
    box-sizing: border-box;
}

.text-container__content {
    width: 80%;
}

.text-container__content h3 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-container__content i {
    font-size: 1.125rem;
    line-height: 1.8;
}

@media (max-width: 500px) {

    .col3__text-container {
        width: 100%;
        padding: 0 0 0 0;
    }
    
    .text-container__content h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .text-container__content i {
        font-size: 0.9rem;
    }

    .text-container__content {
        width: 100%;
        padding: 30px 10px;
    }
}

.col4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col4__container {
    width: 100%;
}

.col4__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 150px;
}

@media (max-width: 1024px) {
    .col4__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .col4__items {
        grid-template-columns: 1fr;
    }
}

.col4__block {
    display: flex;
    gap: 20px;
    justify-content: start;
    
}

@media (max-width: 800px) {
    .col4__block {
        flex-direction: column;
    }
    
    .col4__block img {
        width: 10%;
    }
}

.col4__block h4 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.col4__block p {
    font-size: 1rem;
    line-height: 1.8;
} 

.col4__block img {
    height: 4vh;
}


.col5__container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.col5__photo {
    flex: 1 1 100px;
}
.col5__content {
    padding-top: 50px;
    flex: 1.3 1 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col5__header {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 700;
}

.col5__list-container {
    margin-bottom: 20px;
}

.col5__list > li {
    position: relative;
    font-size: 1.3rem;
    line-height: 2.2;
    padding-left: 50px;
}

.col5__list > li::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('images/main/section5/image2.png') no-repeat;
    z-index: 50;
}

@media (max-width: 1024px){
    .col5__container {
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: flex-start; */
    }
    
    .col5__header {
        font-size: 1.8rem;
    }

    .col5__content {
        padding: 0;
    }
}

.col6 {
    margin-top: 40px;
}

.col6__block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col6__block {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.col6__text {
    padding: 30px 120px 30px 0;
}

.col6__text > .small {
    height: 7vh;
}

.col6__text > p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.8;
    margin-top: 20px;
}

.col6__text > h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .col6__text {
        padding: 30px 50px 30px 0;
    }
}

.col7__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 70px;
}

.col7__block-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.col7__block {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 900px) {
    .col7__block {
        margin-top: 40px;
    }
}

.col7__block-circle {
    width: 70%;
    min-height: 149px;
    border-radius: 50%;
    background: #f9f4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    color: #d8b6a0;
}

.col7__block-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.footer__footer-col1 {
    background: #f9f4f0;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
    margin: 0 auto;
    margin-top: 70px;
}

@media (max-width: 1024px) {
    .inner-container {
        width: 80%;
    }
}

.text__header > h5 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 20px;
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 90px);
    gap: 0 30px;
}

@media (max-width: 1024px) {
    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.big-input {
    grid-column: 1/3;
}

.form__btn-container {
    grid-column: 1/3;
}

.text__label {
    display: block;
    margin-bottom: 0.5rem;
}

.text-field__input {
    display: block;
    width: 100%;
    background: #ffffffff;
    padding: 10px 0 10px 10px;
    border-radius: 30px;
}

.form__btn {
    width: 100%;
    background: #d8b6a0bb;
    color: #111111;
    padding: 15px 0;
    border-radius: 50px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

@media (max-width: 1024px) {
    .form__btn {
        font-size: 1rem;
        letter-spacing: 0px;
        padding: 15px 0;
    }
}

.form__btn:hover{
    background: #d8b6a0;
    color: #ffffffff;
}

.footer__address-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 700px) {
    .footer__address-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.address-block1 {
    flex: 1 1 0%;
}

.address-block2 {
    flex: 1 1 0%;
}

.address-block3 {
    flex: 1 1 0%;
}

.footer__address-block > h6 {
    font-size: 1.25em;
    font-weight: bold;
}

.footer__address-block p {
    font-size: 1.125rem;
    line-height: 1.8;
    margin-top: 20px;
}

